body {
  background-color: #f4f7fc;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.task-tracker {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-btn {
  background-color: #007bff;
  color: #ffffff;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.secondary-btn {
  background-color: #6c757d;
  color: #ffffff;
}

.secondary-btn:hover {
  background-color: #5a6268;
}

.danger-btn {
  background-color: #dc3545;
  color: #ffffff;
}

.danger-btn:hover {
  background-color: #c82333;
}

.highlight-btn {
  background-color: #28a745;
  color: #ffffff;
}

.highlight-btn:hover {
  background-color: #218838;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input[type="text"],
.task-form input[type="date"],
.task-form select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.task-form input[type="text"] {
  background-color: #f9f9f9;
}

.task-form input[type="date"] {
  background-color: #ffffff;
}

.task-form select {
  background-color: #f9f9f9;
}

.task-form input[type="text"]:focus,
.task-form input[type="date"]:focus,
.task-form select:focus {
  border-color: #007bff;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.task:hover {
  background-color: #f1f1f1;
}

.task.completed span {
  text-decoration: line-through;
  color: #aaa;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.task button {
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e9ecef;
  transition: background-color 0.3s ease;
}

.task button:hover {
  background-color: #d4d4d4;
}

.task button svg {
  width: 14px;
  height: 14px;
  color: #007bff;
}


@media only screen and (max-width: 768px) {
  .task-tracker {
    transform: scale(0.87);
    max-width: 340px;
  }
}